*{margin:0; padding;0;}


#profile_slide{
                position:relative;

                width: 100%;
                height: 100%;
}
#profile_slide ul{font-size:0;}
#profile_slide ul li img{position:fixed; margin-top:-150px; top:0; left:0; display:none;width: 100%;}
#profile_slide ul li.on img{display:block;}


#profile_list{
                position:absolute;
                margin-left:8%;
                width:250px;
                top:20%;
                z-index:1;
                text-align:center;
                opacity:0.8;
}
#profile_list a{
                width: 80px;
                height: 80px;
                float:left;
                border:2px #fff solid;
                margin:5px;
                padding:0;
                outline:none;
                cursor:pointer;

}
#profile_list .thumb{width: 100%;}

#profile_list:hover{opacity:1;}



@media screen and (max-width:479px){
    #profile_list{
                    margin-left: 3%;
                    width: 50px;
                    top: 12%;
                    z-index: 1;
                    text-align: center;
    }
    #profile_list a{
                        width: 40px;
                        height: 40px;
                        border: 1px solid #fff;
                        margin: 1px;
                        padding: 0;
                        outline: none;
                        cursor: pointer;
                        background-repeat: no-repeat;
    }
}
}



@media screen and (max-width:768px){

    #profile_list a{
    width: 60px;
    height: 60px;
    float: left;
    border: 2px solid #fff;
    margin: 5px;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    }
}
