*{list-style:none; margin:0; padding:0; text-decoration:none;}

.header{ z-index:3 ;width: 100%; height: 70px; background-color:#000; position:fixed;


    .header_logo{float:left;
        img{position:absolute; top:12px; left:30px;}
    }
    .header_nav{text-align:center;
        li{
            display:inline;line-height:65px;
        }
        a{color:#fff;
          &:hover{font-weight:bold;}}

        .on{color:#fff; font-weight:bold;}
    }

} //header end//


.MCM_content{width: 100%; position:relative;

    .Main_slider{
        position:relative;
         height: 822px;
        .on1 a{background-image:url(../../images/ov.png);
                background-repeat:no-repeat;
                background-position:center,center;

                margin:0 9px;}
        li{display:inline-block;
        &:first-child img{display:block;}
            img{position: absolute;

                top: 70px;
                display:none;

            }
        }
        .stopimg{background-image:url(../../images/stop.png);
                 position: relative;
                 top: 726px;
                 left: 1037px;
                 background-color: transparent;
                 border: none;
                 width: 10px;
                 height: 13px;
        }
        a{display:inline-block;text-indent:-9999px; width: 14px; height:14px; z-index: 2;
            position: relative;
            top: 750px;
            left: 876px;
            background-image:url(../../images/out.png);
            background-repeat:no-repeat;
            background-position:center,center;

            margin:0 9px;
        }



    }//Main_slider end//

    .second_content{
        height: 635px;position:relative;
        .text{text-align:center; padding:120px 0;}
        .btn1{width: 360px; margin:60px auto 0;display:block;}
        .btn2{width: 360px;
                img{margin-top: 7px;}
            }





    }//second_content end//

    .third_gallerylist_content{
                                position:relative;
                                height: 1405px;
                                padding:90px 0 60px;
                                margin-top: 240px;
                                background-color: #e5e5e5;
          h1{text-align:center;font-size: 0}
        .charm_list{
                    width: 1700px; margin:0 auto; padding:45px 0 20px;height: 1335px;
        }
        .best{
            width:750px; height:360px;
                position: relative;
                float: left;
                margin: 0 50px 70px;

        .frame{
                  padding: 10px;
                  width: 326px;
                  height: 326px;

                  position: absolute;
                  top: 0;
                  left: 20px;
            .best1img{height: 326px;}
            .frame_img{
                        width: 346px;
                        position: absolute;
                        top: 0;
                        left: 0;}
            .frame_hover{
                          width: 346px;
                          position: absolute;
                          top: 0;
                          left: 0;
                          display:none;
            }
        }
        .emblem{
                top: -14px;
                left: 5px;
                width: 74px;
                height: 74px;
                position: absolute;
                border: 3px solid #000;
                background-color: #fff;
                text-align: center;
            strong{
                    font-size: 40px;
                    margin-top: 8px;
                    color:#000;}
            img{margin-bottom: 5px;}
        }
        .charm_info{
                    padding-top: 0;
                    float: right;
                    text-align: left;
                    width: 303px;
                    font-size: 16px;
            h2{
                margin-top: 32px;
                margin-bottom: 22px;
                font-family: 'Gotham Medium', sans-serif;
                font-size: 44px;
                line-height: 1em;
                text-decoration: underline;}
            p{
                font-size: 14px;
                color: #686868;
                margin-bottom: 8px;
                line-height: 1.4em}

            span{
                    margin-left: 4px;
                    font-size:14px;
                    color:#686868;
                  }

            .desc{
                    margin-top: 20px;
                    line-height: 1.8em;
            }
            .viewbtn{
                      width: 105px;
                      height: 35px;
                      margin-top: 26px;
                      line-height: 35px;
                      background-color: #000;
                      font-family: 'Times New Roman', sans-serif;
                      font-size: 14px;
                      color: #fff;
                      text-align: center;
            }
        }
      }//best end//
      .best1{
        position: relative;
        float: left;
        width: 325px;
        height: 360px;
        margin: 0 50px 70px;
        .frame1{position: absolute;
                top: 0;
                left: 20px;
                width: 260px;
                height: 260px;
                padding: 10px;
          .best2img{
            height: 260px;}
            .frame_img1{
              position: absolute;
              top: 0;
              left: 0;
              width: 280px;
            }
            .frame_hover1
            {position: absolute;
              top: 0;
              left: 0;
              width: 280px;
              display: none;}
        }//frame1 end//
        .charm_info{
                    padding-top: 320px;
                    font-size: 16px;
                    text-align: center;
          h3{
              font-size: 14px;
              margin-bottom: 6px;
              color:black;
          }
          span{
                font-size: 14px;
                color: #686868;
          }
        }//charm_info end//
        .emblem1{
          position: absolute;
          top: -15px;
          left: 8px;
          width: 59px;
          height: 59px;
          border: 3px solid #000;
          background-color: #fff;
          text-align: center;
          strong{
            display: block;
            font-family: 'Gotham Medium', sans-serif;
            font-weight: bold;
            font-size: 32px;
            line-height: 1em;
            margin-top: 4px;
            color: black;
          }
          span{display: block;
              font-family: 'Gotham Medium', sans-serif;
              font-style: italic;
              font-size: 16px;
              line-height: 1em;
              margin-top: -2px;
            }
        }
      }//best1 end//
      .number_list{
        position: absolute;
        text-align: center;
        bottom: 59px;
        right: 46%;
        .ov{
          font-weight: bold;
          text-decoration: underline;
        }
        a{
          font-size: 18px;
          margin: 0 10px;
          line-height: 30px;
          color:black;
        }
        &:hover{
            cursor:pointer;
        }
      }//number_list end//
    }//third_gallerylist_content end//
    .bg{
        background-image:url(../../images/pop_bgimg.png);
        width:100%;
        height:100%;
        position:fixed;
        top:10px;
        left:0px;
        z-index:10;
        display:none;
      }

    .popup{
            background-color:#fff;
            z-index:11;
            width: 951px;
            height: 796px;
            position:absolute;
            top: 5%;
            left: 25%;
            right:470px;

            display:none;
            text-align:center;

        .popup_conts{
                      position:relative;
                      width: 831px;
                      height: 531px;
                      padding:60px;

            .popup_cont{
                        position:absolute;
                        width: 831px;
                        height: 424px;
                        overflow:hidden;
                .left_cont{
                            float:left;width: 418px;border:1px #d9d9d9 solid;
                    img{width:100%;}
                }
                .right_cont{
                    float:right;width: 354px;
                    h3{
                        margin-top: 34px;
                        margin-bottom: 12px;
                        font-family: 'Times New Roman', sans-serif;
                        font-size: 18px;
                        text-decoration: underline;
                    }
                    .title{
                            font-family: 'Nanum Barun Gothic', sans-serif;
                            font-size: 28px;
                            font-weight: bold;}
                    .name{font-size:16px;}
                    ul{
                        margin-top: 42px;
                        width: 354px;
                        height: 85px;
                        li{
                            float: left;
                            margin-right: 4px;
                            width: 83px;
                            border: 1px solid #e4e4e3;
                            img{width: 81px;}
                        }
                    }
                  }

                }
                .popup_text{
                    position:absolute;
                    bottom:50px;
                    width: 831px;
                    height: 61px;
                    margin-top: 46px;
                    text-align: left;
                    .desc{
                        margin-top: 20px;
                        font-family: 'Nanum Barun Gothic', sans-serif;
                        font-size: 12px;
                        color: #686868;
                        line-height: 2em;
                        letter-spacing: 0.1em;
                    }
                }
    }
        .closebtn{
            position: absolute;
            bottom: 808px;
            right: 0px;
        }
  .popup_contdown{
                  padding:36px;
                  border-top:1px #d9d9d9 solid;
            label{
              padding-left:10px;
              margin-right:24px;
               span{
                     margin-right:16px;
                     font-size:12px;
                     line-height:30px;
               }
            }
            input{
                  width:48px; height:28px; border:1px #d9d9d9 solid;
            }
            input[type=password]{
                                  width:124px;
            }
            a{
              display:inline-block;
              width:114px;
              vertical-align:middle;
            }
            p{
              margin-top:24px;
              font-size:14px;
              color:#767272;
            }


  }



}
.footer{
        background-image:url(../../images/footertext.png);
        background-position:center center;
        background-repeat:no-repeat;
        width:100%;
        height:50px;
        background-color:#000;
}

}//.MCM_content end//
